<h1>Editing keylocker</h1>

<%= render "form", keylocker: @keylocker %>

<br>

<div>
  <%= link_to "Show this keylocker", @keylocker %> |
  <%= link_to "Back to keylockers", keylockers_path %>
</div>
